
.area-sidebar {
  position: fixed; /* Fixa a sidebar na tela */
  top: 0;
  left: 0;
  height: 100vh; /* Mantém a altura total */
  overflow-y: auto; /* Permite scroll apenas dentro da sidebar se ela for muito longa */
  z-index: 1000;
  background-color: #ffffff;
  border-right: 1px solid #eaeaea;
      width: 250px;
  flex-shrink: 0; 
   display: flex;
  flex-direction: column;
 /* Garante que ela fique por cima de tudo */
}
.header-sidebar {
    background-color: var(--prolicit-azul);
    padding: 20px;
    text-align: center;
    color : white;
    height: 160px;
}

.texto-sidebar{
    font-size: 0.85rem;
    font-weight: bold;
}

.btn-sair {
    background-color: var(--prolicit-azul) !important;
    color: white !important;
    border: none;
}