

/* Importando os temas separados */
@import './estilos/tema-claro.css';
@import './estilos/tema-escuro.css';
@import './estilos/Fontes.css';


body {
  font-family: 'Poppins', sans-serif !important;
  font-size: var(--tamanho-fonte) !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-fundo) !important;
  color: var(--cor-texto) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
